/* ---------------------
   Eigene Variablen
---------------------- */

/* Standardfarben */
:root {
  /* PRIMARY: Edles Gold */
  --p-primary-50: #fef9e7;
  --p-primary-100: #fcf1c9;
  --p-primary-200: #f8e29b;
  --p-primary-300: #f3d26c;
  --p-primary-400: #efc43e;
  --p-primary-500: #e9b30c;
  --p-primary-600: #c89a0a;
  --p-primary-700: #a78109;
  --p-primary-800: #866807;
  --p-primary-900: #705706;
  --p-primary-950: #3d3203;

  /* SURFACE: Dracula-ähnliches dunkles Violett-Blau für Hintergrund */
  --p-surface-0: #1e1f29; /* Standard-Hintergrund */
  --p-surface-50: #2a2b3a;
  --p-surface-100: #333445;
  --p-surface-200: #444554;
  --p-surface-300: #555666;
  --p-surface-400: #777888;
  --p-surface-500: #999aac;
  --p-surface-600: #bcbcc7;
  --p-surface-700: #dcdcde;
  --p-surface-800: #eeeeef;
  --p-surface-900: #f7f7f8;
  --p-surface-950: #ffffff;

  --p-content-border-radius: 6px;

  /* Schriftarten */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
}

/* Schriftarten */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v18-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v18-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-v18-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/lora/lora-v35-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/lora/lora-v35-latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/lora/lora-v35-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Grundtypografie */
html {
  font-family: var(--font-sans);
}
.serif,
em,
blockquote,
q {
  font-family: var(--font-serif);
}
body {
  overflow-x: hidden;
}
